@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color:#333;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}

.hide {
    position: absolute;
    top: -99999px;
    left: -99999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#login_container{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 130px;
}

.login_title{
    margin-bottom: 40px;
}

.log_in_box{
    padding: 50px 50px;
    border: 1px solid #65696A;
}

.log_in_box h2{
    margin-bottom: 20px;
}

.member_box1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.id_ps input{
    width: 270px;
    height: 30px;
    padding-left: 10px;
}

.id_ps1 input{
    margin-bottom: 10px;
}

.loginBtn{
    border: 1px solid #65696A;
    text-align: center;
    line-height: 75px;
    background-color: #3E3D3B;
}

.loginBtn a{
    display: block;
    width: 150px;
    height: 75px;
    font-size: 18px;
    color: #eee;
}

.id_save{
    margin-top: 10px;
}

.member_box2{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    border-top: 1px solid #65696A;
    border-bottom: 1px solid #65696A;
}

.member_box2 div{
    border: 1px solid #65696A;
}

.member_box2 div:first-child{
    background-color: #6B6B6B;
}

.member_box2 div:first-child a{
    color: #eee;
}

.member_box2 a{
    display: block;
    padding: 10px 35px;
    color: #111;
}

.member_box3{
    margin-bottom: 60px;
}

.member_box3 ul{
    display: flex;
    justify-content: space-between;
}

.member_box3 a{
    display: block;
    width: 230px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -99999px;
}

.naver_btn a{background-image: url(../img/naver_btn.png);}
.kakao_btn a{background-image: url(../img/kakao_btn.png);}

.NmemberBtn{
    background-color: #F7F7F7;
    
    border: 1px solid #65696A;
    margin-right: 290px;
}

.NmemberBtn a{
    display: block;
    padding: 15px 20px 15px 20px;
    color: #111;
}